@charset "UTF-8";

@media  screen and (min-width: 768px) and (max-width:992px) {
    /*esta é a versão para tablet*/
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 80vw;
    }
    section#login > div#imgem { /*config. para imagem na verção tablet*/
        float: left; /*as confg. float para mudar a posição da imagem não esta funcionando aqui  e nem nas demais a baixo*/
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}
@media screen and (min-width: 992px) { /*para telas grandes*/
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 950px;
    }
    section#ligin > div#imagem {
        float: left;
        width: 50%; /*atela ficando em 50% elea vai ficar meio a meio*/
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%; /*atela ficando em 50% elea vai ficar meio a meio*/
    }
    
}